#--------------------------------------------------------------------
# Example Environment Configuration file
#--------------------------------------------------------------------
# This file serves as a template for your .env file.
# Copy this to .env and fill in the details for your environment.
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

# App Settings
app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false

# Database Settings
database.default.hostname = localhost
database.default.database = your_database_name
database.default.username = your_username
database.default.password = your_password
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

# Session Settings (Force Database Driver to prevent logout on reset)
app.sessionDriver = 'CodeIgniter\Session\Handlers\DatabaseHandler'
app.sessionSavePath = 'ci_sessions'
app.sessionCookieName = 'chege_jira_session'
app.sessionExpiration = 2592000

# Encryption Settings (Generate with: php spark key:generate)
encryption.key = hex2bin:30af72a5c8cab2fd59107c51949b121dbe26439923f7f3467b34dfe2407c0daa

# AI Engine Microservice
ML_SERVICE_URL = "http://ml-chege-jira:8000"
ML_API_KEY = "chege_jira_ml_super_secret_key_2026"

